html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  min-width:1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.page-header {
  margin: 0;
  background-color: #eeeeee;
}

.content-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.page-header .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header h1 {
  text-align: center;
  padding-bottom: 120px;
}

.main-header-logo {
  width: 160px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-menu {
  width: 440px;
}

.user-menu {
  width: 160px;
}

.user-menu-list,
.main-menu {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.main-menu-list,
.user-menu-list {
  list-style: none;
}

.main-menu-list a:hover,
.main-menu-list a:focus,
.user-menu-list a:hover,
.user-menu-list a:focus {
  color: #fb565a;
}

.main-menu-list a:active,
.user-menu-list a:active {
  color: #aaaaaa;
}

.slider {
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-color: #eeeeee;
}
.slide-2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-color: #eeeeee;
}
.slide-3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

.slide b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
}

.button:hover,
.button:focus {
  background-color: #e74243;
}

.button:active,
.slide-button:active,
.button-services-1:active {
  color: #e37376;
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
}

.services-list,
.production-list {
  list-style: none;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
}

.services-item {
  width: 300px;
  margin-right: 60px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.button-services-2 {
  background-color: #00ca74;
}

.button-services-2:hover,
.button-services-2:focus {
  background-color: #00bc6c;
}

.button-services-2:active {
  color: #4dc491;
  box-shadow: inset 0 3px 0 0 #009958;
  background-color: #00aa62;
}

.button-services-3 {
  background-color: #efc84a;
}

.button-services-3:hover,
.button-services-3:focus {
  background-color: #eab534;
}

.button-services-3:active {
  color: #edc265;
  box-shadow: inset 0 3px 0 0 #ce961f;
  background-color: #e5a722;
}

.studio .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.studio-left {
  width: 660px;
}

.studio-right {
  width: 360px;
}

.studio-lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.production-title,
.table-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.table-percent {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.table-percent sup {
  font-size: 28px;
  color: #000000;
}

.partners-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover,
.partners-logo:focus {
  opacity: 1.0;
}

.partners-logo:active {
  opacity: 0.1;
}

.page-footer {
  position: relative;
}

.map {
  height: 415px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #eeeeee;
  background-size: cover;
}

.contacts {
  position: absolute;
  width: 320px;
  top: 55px;
  left: auto;
  padding: 50px;

  background-color: #ffffff;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts,
.address,
.contacts-tel {
  font-style: normal;
  line-height: 18px;
  color: #666666;
}

.address {
  width: 210px;
}

.social {
  display: flex;
}

.social-list {
  list-style: none;
  display: flex;
}

.social-text {
  width: 560px;
}

.social-lead {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-list-item a {
  background-color: #e1e1e1;
}

.social-list-item a:hover,
.social-list-item a:focus {
  background-color: #e74246;
}

.social-list-item a:active {
  background-color: #d7373b;
}

.social-list-item img:active {
  opacity: 0.3;
}

.write-us-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.write-us-item {
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.write-us-item input[type=text],
.write-us-item input[type=email],
.write-us-item textarea {
  border: 2px solid #e4e8e9;
  outline: none;
}

.write-us-item input[type=text]:hover,
.write-us-item input[type=email]:hover,
.write-us-item textarea:hover {
  border-color: #cdd0d2;
}

.write-us-item input[type=text]:focus,
.write-us-item input[type=email]:focus,
.write-us-item textarea:focus {
  border-color: #555555;
}

.write-us-item input:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.inner-page .content-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog-right-side {
  width: 760px;
}

.filters-form fieldset {
  border: none;
}

.fieldset-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fieldset-item label {
  line-height: 20px;
}

label.filter-label,
.filter-input {
  color: #283136;
}

label.filter-label:hover,
label.filter-label:focus,
.filter-input:hover,
.filter-input:focus {
  color: #000000;
}

label.filter-label:disabled,
.filter-input:disabled {
  opacity: 0.1;
}

.filter-button,
.pagination-item {
  color: #000000;
  background-color: #eeeeee;
}

.filter-button:hover,
.pagination-item:hover {
  background-color: #dfdfdf
}

.filter-button:focus,
.pagination-item a:focus {
  color: #959595;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  background-color: #d5d5d5;
}

.sort h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-item a:hover {
  opacity: 0.6;
}

.sort-item a:focus {
  opacity: 1.0;
}

a.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0;
  opacity: 0.2;
}

.arrow::before {
  content: "";
  border: 20px solid #000000;
  border-right-width: 10px;
  border-left-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
}

a.arrow:hover {
  opacity: 0.6;
}

a.arrow:focus {
  opacity: 1.0;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.catalog {
  margin-bottom: 60px;
}

.catalog-list,
.pagination-list {
  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item {
  padding: 0;
  margin:0;
  width: 360px;
  margin-bottom: 65px;
  position: relative;
}

.catalog-item:hover {
  box-shadow: 0 5px 10px 5px #eeeeee;
}

.catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-color: #eeeeee;
  display: block;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1.0;
}

.catalog-item-information {
  text-align: center;
  opacity: 0.0;
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 230px;

  background-color: #ffffff;
}

.catalog-item:hover .catalog-item-information {
  opacity: 1.0;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-description {
  line-height: 18px;
  color: #666666;
}

.catalog-item-button:hover {
  background-color: #e74243;
}

.catalog-item-button:focus {
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
}

.pagination-list {
  margin-bottom: 65px;
}

.pagination-item {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

